@font-face {
  font-family: 'Poppins';
  src:
    local('Poppins'),
    url('/Poppins.woff2') format('woff2');
}

@font-face {
  font-family: 'Inter';
  src:
    local('Inter'),
    url('/Inter.woff2') format('woff2');
}

@font-face {
  font-family: 'CascadiaCode';
  src:
    local('CascadiaCode'), local('Cascadia Code'),
    url('/CascadiaCode.woff2') format('woff2');
}

* {
  font-family: 'CascadiaCode', 'Cascadia Code', 'CaskaydiaCove Nerd Font';
}

*:not(pre, code, .code, pre *) {
  font-family: Inter, Poppins;
}

h1,
h2,
h3,
h4 {
  text-wrap: balance;
}

p {
  text-wrap: pretty;
  margin: 0;
}

ul {
  margin: 4px 0 8px;
}